doctype html
html(lang='es-MX')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Inicio
        // Custom fonts for this template
        link(href='/stylesheets/all.min.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/css.css', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='/stylesheets/sb-admin-2.min.css', rel='stylesheet')
        // editor datatables
        //stylesheets
        link(href='/stylesheets/dataTables.bootstrap4.css', rel='stylesheet')
        //link(href='/stylesheets/buttons.dataTables.min.css', rel='stylesheet')
        link(href='/stylesheets/buttons.bootstrap4.css', rel='stylesheet')
        link(href='/stylesheets/select.dataTables.css', rel='stylesheet')
        link(href='/stylesheets/rowGroup.dataTables.css', rel='stylesheet')
        link(href='/stylesheets/editor.dataTables.min.css', rel='stylesheet')
        //javascripts
        script(type='text/javascript', language='javascript', src='/javascripts/jquery-3.5.1.js')
        script(type='text/javascript', language='javascript', src='/javascripts/jquery.dataTables.js')
        script(type='text/javascript', language='javascript', src='/javascripts/dataTables.buttons.js')
        script(type='text/javascript', language='javascript', src='/javascripts/dataTables.select.js')
        script(type='text/javascript', language='javascript', src='/javascripts/dataTables.bootstrap4.js')
        script(type='text/javascript', language='javascript', src='/javascripts/buttons.bootstrap4.js')
        script(type='text/javascript', language='javascript', src='/javascripts/dataTables.editor.min.js')
        script(type='text/javascript', language='javascript', src='/javascripts/moment.min.js')
        script(type='text/javascript', language='javascript', src='/javascripts/datetime-moment.js')

        //ddd, MMM DD YYYY, H:m:s do ZZ
        script.init(type='text/javascript').
            $(document).ready(function () {
                $.fn.dataTable.moment('dddd, MMMM DDD, YYYY, h:mm:ss A');
                $('#logs').DataTable();
            });
        script.init(type='text/javascript').
            var editor
            $(document).ready(function () {
                editor = new $.fn.dataTable.Editor({
                    ajax: "/user/data",
                    table: "#example",
                    fields: [{
                        label: "id:",
                        name: "id"
                    }, {
                        label: "username:",
                        name: "username"
                    }
                    ]
                });

                $('#example').DataTable({
                    dom: "Bfrtip",
                    ajax: "/user/data",
                    columns: [
                        {data: "id"},
                        {data: "username"}
                    ],
                    select: true,
                    buttons: [
                        {extend: "create", editor: editor},
                        {extend: "edit", editor: editor},
                        {extend: "remove", editor: editor}
                    ]
                });
            });
    body#page-top
        // Page Wrapper
        #wrapper
            // Sidebar
            ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
                // Sidebar - Brand
                a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
                    .sidebar-brand-icon.rotate-n-15
                    i.fa-fw.fa-users.fas
                    .sidebar-brand-text.mx-3
                        | Nombre
                // Divider
                hr.sidebar-divider.my-0
                // Nav Item - Dashboard
                li.nav-item.active
                    a.nav-link(href='/')
                        i.fa-fw.fa-home.fas
                        span Inicio
                // Divider
                hr.sidebar-divider
                // Heading
                .sidebar-heading
                    | informacion
                // Nav Item - Pages Collapse Menu
                li.nav-item
                    a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                        i.fa-fw.fa-user.fas
                        span Matriz de Usuarios
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
                        .bg-white.py-2.collapse-inner.rounded
                            h6.collapse-header Opciones:
                            a.collapse-item(href='/user') Usuarios Internos
                            a.collapse-item(href='cards.html') Usuarios externos
                            a.collapse-item(href='cards.html') Altas y Bajas
                // Nav Item - Utilities Collapse Menu
                // Divider
                hr.sidebar-divider
                // Heading
                .sidebar-heading
                    | Reportes
                // Nav Item - Pages Collapse Menu
                li.nav-item
                    a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapsePages', aria-expanded='true', aria-controls='collapsePages')
                        i.fa-clipboard-list.fa-fw.fas
                        span Bitacora
                    #collapsePages.collapse(aria-labelledby='headingPages', data-parent='#accordionSidebar')
                        .bg-white.py-2.collapse-inner.rounded
                            h6.collapse-header Registros:
                            a.collapse-item(href='/bitacora') Logs
                            .collapse-divider
                            h6.collapse-header Reportes:
                            a.collapse-item(href='/') Modificacion
                // Divider
                hr.sidebar-divider
                // Heading
                .sidebar-heading
                  | Usuarios
                // Nav Item - Pages Collapse Menu
                li.nav-item
                  a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseUsers', aria-expanded='true', aria-controls='collapseUsers')
                    i.fa-fw.fa-user-tie.fas
                    span Usuarios Sistema
                  #collapseUsers.collapse(aria-labelledby='headingPages', data-parent='#accordionSidebar')
                    .bg-white.py-2.collapse-inner.rounded
                      h6.collapse-header Admin:
                      a.collapse-item(href='/users/register') Alta
                      a.collapse-item(href='/users/update') Modificacón
                      a.collapse-item(href='/users/delete') Baja
                // Divider
                hr.sidebar-divider.d-none.d-md-block
                // Sidebar Toggler (Sidebar)
                .text-center.d-none.d-md-inline
                    button#sidebarToggle.rounded-circle.border-0
            // End of Sidebar
            // Content Wrapper
            #content-wrapper.d-flex.flex-column
                // Main Content
                #content
                    // Topbar
                    nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
                        // Sidebar Toggle (Topbar)
                        button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
                            i.fa.fa-bars
                        // Topbar Search
                        form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
                            .input-group
                                input.form-control.bg-light.border-0.small(type='text', placeholder='Busca por...', aria-label='Search', aria-describedby='basic-addon2')
                                .input-group-append
                                    button.btn.btn-primary(type='button')
                                        i.fas.fa-search.fa-sm
                        // Topbar Navbar
                        ul.navbar-nav.ml-auto
                            // Nav Item - Search Dropdown (Visible Only XS)
                            li.nav-item.dropdown.no-arrow.d-sm-none
                                a#searchDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i.fas.fa-search.fa-fw
                                // Dropdown - Messages
                                .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                                    form.form-inline.mr-auto.w-100.navbar-search
                                        .input-group
                                            input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
                                            .input-group-append
                                                button.btn.btn-primary(type='button')
                                                    i.fas.fa-search.fa-sm
                            // Nav Item - Alerts
                            // Nav Item - Messages
                            .topbar-divider.d-none.d-sm-block
                            // Nav Item - User Information
                            li.nav-item.dropdown.no-arrow
                                a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    span.mr-2.d-none.d-lg-inline.text-gray-600.small #{username}
                                // Dropdown - User Information
                                .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                                    a.dropdown-item(href='#')
                                        i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                                        |                   Perfil
                                    a.dropdown-item(href='#')
                                        i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                                        |                   Configuración
                                    a.dropdown-item(href='#')
                                        i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
                                        |                   Registro de actividad
                                    .dropdown-divider
                                    a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
                                        i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                                        |                   Logout
                    // End of Topbar
                    // Begin Page Content
                    .container-fluid
                        block content
                    // /.container-fluid
                    // End of Main Content
                    // Footer
                    footer.sticky-footer.bg-white
                        .container.my-auto
                            .copyright.text-center.my-auto
                                span OSI 2020
                    // End of Footer
                    // End of Content Wrapper
                    // End of Page Wrapper
                    // Scroll to Top Button
                    a.scroll-to-top.rounded(href='#page-top')
                        i.fas.fa-angle-up
                    // Logout Modal
                    #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    h5#exampleModalLabel.modal-title ¿Listo para salir?
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                .modal-body Seleccione "Log out" a continuación si está listo para terminar su sesión actual.
                                .modal-footer
                                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                                    a.btn.btn-primary(href='/users/logout') Logout
                    // Bootstrap core JavaScript
                    script(src='/javascripts/bootstrap.bundle.min.js')
                    // Core plugin JavaScript
                    script(src='/javascripts/jquery.easing.min.js')
                    // Custom scripts for all pages
                    script(src='/javascripts/sb-admin-2.min.js')

