extends layout

block content
    h2.page-header Alta de nuevo usuario
    p Favor de llenar el formulario de abajo
    != messages('my_message_template', locals)
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(method='post', action='/users/register')
        .form-group
            label Nombre
            input.form-control(name='name', type='text', placeholder='Ingrese el Nombre')
        .form-group
            label Email
            input.form-control(name='email', type='email', placeholder='Ingrese Email')
        .form-group
            label Usuario
            input.form-control(name='username', type='text', placeholder='Ingrese Usuario')
        .form-group
            label Contrase単a
            input.form-control(name='password', type='password', placeholder='Ingrese contrase単a')
        .form-group
            label Confirme contrase単a
            input.form-control(name='password2', type='password', placeholder='Vuelva a escribir la contrase単a')
        input.btn.btn-primary(type='submit', name='submit', value='Register')