extends layout

block content
    .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-0.text-gray-800 Bitacora
    table#example
        thead
            tr
                th id
                th username
        tfoot
                th id
                th username